# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
*.log*

# env
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Large Data Files (Excluded from Git)
data/*.pdf

.vercel
.env*.local
doc/rag-bighistory-c38034a62dc3.json
